@import "~bootstrap/dist/css/bootstrap.css";

body {
  font-family: 'Open Sans' !important
}

.card-style {
  position: relative;
  width: 45vw;
}

.header-style {
  background: #359DC7 !important;
}

.header-text {
  color: #fff !important;
  text-align: left !important;
  font-size: 4em !important;
  padding: 0px 10px !important;
}

.btn-custom {
  background: white !important;
  color: #359DC7 !important;
  border-color: #359DC7 !important;
}

.btn-custom:hover {
  background: #359DC7 !important;
  color: white !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #359DC7;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 109, 138);
}

@media only screen and (max-width: 430px) {
  .card-style {
    width: 85vw
  }

  .header-text {
    font-size: 3em;
  }
}
